<article id="<%= post.layout %>-<%= post.layout_name %>" class="post">
	<header class="entry-header">
		<%- partial('post/title', {class_name: 'article-title'}) %>
	</header>
	<div class="entry-content">
		<% if (!index && need_toc){ %>
			<div id="toc" class="toc-article">
				<p class="toc-title">目次</p>
				<%- toc(post.content) %>
			</div>
		<% } %>
		<% if (post.excerpt && index){ %>
			<%- post.excerpt %>
			<% if (theme.excerpt_link){ %>
				<p class="article-more-link">
					<a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
				</p>
			<% } %>
		<% } else { %>
			<%- post.content %>
		<% } %>
	</div>
	<footer class="entry-footer">
		<div class="entry-meta-footer">
			<span class="category">
				<%- partial('post/category') %>
			</span>
			<span class="tags">
				<%- partial('post/tag') %>
			</span>
		</div>
	</footer>
	<%- partial('_custom_ad/google_ad_bottom') %>
	<% if (!index){ %>
		<%- partial('post/nav') %>
	<% } %>
	<%- partial('sns-share', {title: post.title, url: post.permalink}) %>
</article>

<% if (index){ %>
	<hr class="article-devider">
<% } %>
