<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width">
  <%- json_ld() %>
  <%
    const ogimg = page.og_image || '/images/og.png';
    const ctype = page.og_image ? 'summary_large_image' : 'summary';
  %>
  <%- open_graph({twitter_id: theme.twitter, twitter_card: ctype, image: ogimg, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <%# canonical %>
  <%- autoCanonical(config, page) %>

  <%# ファビコン %>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
  <link rel="manifest" href="/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#4fb305">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <style>
    html,body,div,span,h1,p,a,img,ul,li{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}body{line-height:1;color:#000;background:#fff}ul{list-style:none}a img{border:none}@font-face{font-family:FontAwesome;font-style:normal;font-weight:400;font-display:swap;src:url(/css/fonts/fontawesome-webfont.eot?v=4.7.0);src:url(/css/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"),url(/css/fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"),url(/css/fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"),url(/css/fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"),url(/css/fonts/fontawesome-webfont.svg#fontawesomeregular?v=4.7.0) format("svg")}body{background:#fff;color:#24292f;font:100% 'Open Sans',YuGothic,"Yu Gothic Medium","Yu Gothic",'Helvetica Neue','Helvetica','Arial','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;text-rendering:optimizelegibility;-webkit-text-size-adjust:100%}a{color:#1c59e2;text-decoration:none}h1{color:#222;font-weight:700}h1 a{color:#222;text-decoration:none}.fa{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.333333333333333em;line-height:.75em;vertical-align:-15%}.fa-line:before{content:"\f075"}.fa-bookmark:before{content:"\f02e"}.fa-facebook:before{content:"\f09a"}.sns-share--header{clear:both;color:#6b655d;border-bottom:solid 1px #cecdd3;margin-top:40px;margin-bottom:-10px;font-size:1.3em;font-family:'Wendy One',cursive;text-transform:uppercase;letter-spacing:.1em}.sns-share--header:before{font-family:FontAwesome;content:"\f1e0"}.sns-share--area{margin:auto;padding:20px 0}.sns-share--area li{display:inline-block;list-style-type:none}.sns-share--link{display:block;color:#fff;border-radius:50%;width:45px;height:45px;line-height:47px;text-align:center;margin-right:15px}.sns-share--line{background-color:#00b900}.sns-share--bookmark{background-color:#00a4de}.sns-share--x{background-color:#000}.sns-share--facebook{background-color:#375a94}#header{display:block;margin:4em 0;position:relative;*zoom:1}#header:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:"."}.blog-title{float:left;display:inline-block;font-family:'Wendy One',cursive;font-size:140%;text-transform:uppercase;font-weight:700;padding-bottom:.2em;letter-spacing:.2em;margin:10px 0;border-bottom:5px solid #222}.blog-title a{position:relative;left:.1em;padding:.4em 0}.mobile-nav-panel{display:none;padding:15px 0 0}.mobile-nav-panel .icon-reorder{display:inline-block;width:18px;height:17px;background:url(/images/icon-reorder@2x.png) no-repeat 0 0;background-size:18px 17px}.nav{margin:10px 0;font-size:85%;text-transform:uppercase;float:right;position:relative}.nav ul{display:block;*zoom:1;margin:0;padding:0}.nav ul:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:"."}.nav li{float:left;margin:.3em 0 .3em 2em}.nav a{font-weight:700;color:#24292f}.nav-icon{font-family:FontAwesome;text-align:center;font-size:100%;width:auto;height:100%;padding:20px 8px;position:relative}#nav-twitter-btn:before{content:"\f099"}#nav-github-btn:before{content:"\f09b"}#nav-rss-link:before{content:"\f09e"}#container{width:980px;margin-left:auto;margin-right:auto}#main{padding-left:200px}#main h1{position:relative;background:#94db5f;line-height:1.4;padding:.5em .5em .5em 1.8em}#main h1:before{color:#fff;font-family:FontAwesome;content:"\f14a";position:absolute;left:.5em}.post{margin-bottom:5em;position:relative}.post .entry-header{margin-bottom:2em}.post .entry-title{font-weight:700;font-size:220%;margin:0}.article-devider{width:8%;margin:5em auto;border:0;border-top:5px solid #ddd}.entry-meta-header{position:absolute;top:.5em;left:-200px;width:180px;font-size:85%}.entry-meta-header a{color:#24292f}.entry-meta-header .meta-elements{display:block;margin-bottom:.5em}.entry-meta-header .date{font-weight:700;font-size:120%}.entry-meta-header .date a{color:#222}.entry-meta-header .commentscount{font-size:90%;margin-top:1.5em}.entry-content{font-size:105%;line-height:2em;margin-bottom:2em}.entry-content p{margin:0 0 1em 0}.entry-content img{max-width:100%;height:auto;display:block;margin:auto}.entry-meta-footer{font-size:85%;color:#686868;line-height:1.5;margin-bottom:1.5em}.entry-meta-footer a{color:#686868}.entry-meta-footer li{list-style-type:none}.entry-meta-footer span{line-height:2em}.entry-meta-footer .category a{margin-left:5px;margin-right:5px}.entry-meta-footer .category a:first-child{margin-left:0}.entry-meta-footer .category a:last-child{margin-right:0}.article-tag-list{padding:0}.article-tag-list-item{float:left;margin-right:10px}.article-tag-list-item:before{content:"#"}@media (min-width:768px) and (max-width:1040px){#container{width:700px}#main{padding-left:0}.entry-meta-header{position:static;margin-bottom:1em;width:auto}.entry-meta-header .meta-elements{display:inline;margin-right:1em}.entry-meta-header .commentscount{display:none}.post{font-size:100%}.post .entry-title{font-size:180%}}@media (max-width:767px){#container{width:93.75%;word-wrap:break-word}.mobile-nav-panel{display:block}.nav{height:0;width:100%;overflow:hidden;margin:0;position:absolute;top:45px;left:0;background-color:#4f5759}.nav ul{display:block}.nav ul li{display:block;width:100%;margin:0}.nav ul li a{display:block;border:none;padding:1em .5em;color:#fff;border-bottom:1px solid #677174;text-align:left}#nav-rss-link{display:none!important}#header{margin:2em 0 4em 0;text-align:center;position:static}.blog-title{float:none}#main{padding-left:0;margin-bottom:3em}.entry-meta-header{position:static;margin-bottom:1em;width:auto}.entry-meta-header .meta-elements{display:inline;margin-right:1em}.entry-meta-header .commentscount{display:none}.post{font-size:90%}.post .entry-title{font-size:180%}.post .entry-content{line-height:1.8}}</style>
  </style>
  <link rel="preload" href="/css/fonts/fontawesome-webfont.woff?v=" as="font" type="font/woff2" crossorigin>
  <%- css({ href:'css/style', media: 'print', onload: "this.media='all'"}) %>
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%- partial('google-analytics') %>
</head>
