<div class="mobile-nav-panel">
	<i class="icon-reorder icon-large"></i>
</div>
<header id="header">
	<h1 class="blog-title">
		<a href="<%- config.root %>"><img style="height:15px;width:15px" src="/images/dokan.svg" alt=""> <%= config.title %></a>
	</h1>
	<nav class="nav">
		<ul>
			<% for (var i in theme.menu){ %><li><a href="<%- theme.menu[i] %>"><%= i %></a></li><% } %>
			<li><a href="https://github.com/Jpsern" id="nav-github-btn" class="nav-icon" title="GitHub" target="_blank" rel="noopener"></a></li>
			<li><a href="https://twitter.com/tommy0157" id="nav-twitter-btn" class="nav-icon" title="Twitter" target="_blank" rel="noopener"></a></li>
			<% if (theme.rss){ %><li><a href="<%- theme.rss %>" id="nav-rss-link" class="nav-icon" title="RSS Feed"></a></li><% } %>
		</ul>
	</nav>
</header>