<div class="sns-share--header"><i class="fa-solid fa-share-nodes sns-share--icon" aria-hidden="true"></i>share</div>
<ul class="sns-share--area">
    <li>
        <a class="sns-share--x sns-share--link" href="https://twitter.com/intent/tweet?url=<%=url%>&text=<%=title%>" target="_blank" rel="nofollow noopener" title="X(Twitter)に投稿">
        <i class="fa-brands fa-x-twitter fa-lg" aria-hidden="true"></i></a>
    </li>
    <li>
        <a class="sns-share--facebook sns-share--link" href="http://www.facebook.com/share.php?u=<%=url%>" rel="nofollow noopener" target="_blank" title="Facebookでシェア">
        <i class="fa-brands fa-facebook-f fa-lg" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="https://b.hatena.ne.jp/entry/<%=url%>" class="hatena-bookmark-button sns-share--bookmark sns-share--link" data-hatena-bookmark-title="<%=title%>" data-hatena-bookmark-layout="simple" rel="nofollow noopener" title="はてなブックマークに追加">
        <i class="fa-solid fa-bookmark fa-lg" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="https://social-plugins.line.me/lineit/share?url=<%=url%>" class="sns-share--line sns-share--link" rel="nofollow noopener" title="LINEでシェアする">
        <i class="fa-brands fa-line fa-lg" aria-hidden="true"></i></a>
    </li>
</ul>
